* {
    padding: 0; 
    margin: 0; 
    font-family: 'Poppins', sans-serif; 
    box-sizing: border-box;
    
}

html {
    scroll-behavior: smooth;
  }



.hero {
    height: 80vh; 
    width: 100%; 
    background-image: url(./tealbackground.jpg) ; 
    background-size: cover;
    background-position: center;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px; 
    padding-left: 8%;
    padding-right: 8%;
    background: rgba(212, 215, 215, 0.6);
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 120px;
    left: 0px;
    top: 0px;

}

.logo {
    color: #1E8081;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 149.5%;
    letter-spacing: 0.02em;
    cursor: pointer;
    padding-bottom: 18px;
    align-items: center;
}


nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 12px 12px; 
    padding-bottom: 18px;
}

.btn1 {
    font-weight: bold; 
    text-decoration: none;
    background-color: #1E8081;
    border-radius: 30px;
    color: #ECECEC;
    padding: 8px 18px;
    filter: drop-shadow(0px 2px 10px rgba(0, 0, 0, 0.1));
    

}

.btn2 {
    font-weight: bold; 
    text-decoration: none;
    filter: drop-shadow(0px 2px 10px rgba(0, 0, 0, 0.1));
    background-color: #ececec;
    border-radius: 30px;
    color: #1E8081;
    padding: 8px 12px;
    

}

nav ul li a:hover {
    background-color: #84ABAC;
    transition: .4s; 
    
}

.main {
    max-width: 95%; 
    margin: 0 auto; 
    align-items:center;
    justify-content: space-around;
}

.content {
    position: absolute;
    top: 50%; 
    right: 35%; 
    transform: translateY(-50%);
    background: rgba(102, 101, 101, 0.4);
    backdrop-filter: blur(10px);
    border-radius: 30px;
    position: absolute;
    width: 1000px;
    height: 300px;
   

}

.content:hover {
    background: #84ABAC;
    transition: .4s;
}


.introduction {
    color: #FCF7F7;
    align-items: center;
    position: absolute;
    left: 40%;
    bottom: 35%;
    font-family: 'Jost', sans-serif;
    font-size: 24px;
}

.titleintro {
    position: absolute;
    left: 40%;
    bottom: 70%;
    color: #FCF7F7;
    font-size: 40px; 
    font-family: 'Jost', sans-serif;
    letter-spacing: 0.02em;

}

.profilepicture {
    position: absolute;
    right: 65%; 
    bottom: 0%;
}

.mywork {
    width: 100%; 
    padding: 100px 12px;
    background-color: #353A3E;
   
    
}

h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 149.5%;
    letter-spacing: 0.02em;
    color: #84ABAC;
}
h4 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 149.5%;
    letter-spacing: 0.02em;
    color: #ECECEC;
}

.aboutme {
    width: 100%; 
    padding: 100px 12px;
    background-color: #353A3E;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.5rem; 
    align-items: center;
    
}

.uxwork {
    background: rgba(102, 101, 101, 0.4);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    width: 200px;
    height: 250px;

}
.frontendwork {
    background: rgba(102, 101, 101, 0.4);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    width: 200px;
    height: 250px;

}

p {
    color: #84ABAC;
    padding: 12px;

}

li {
    padding: 2px 12px 2px 12px;
    color: #ececec;
}


.container {
    position: relative;
    width: 50%;
    max-width: 300px;
    display: inline-block;
    margin: 12px;
  }
  

  .image {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 10px;
    
  }
  
  
  .overlay {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(132, 171, 172, 0.85); 
    color: #ececec;
    width: 100%;
    transition: .4s ease-in;
    opacity:0;
    font-size: 20px;
    padding: 20px;
    text-align: center;
    border-radius: 0px 0px 10px 10px;
  }
  
  
  .container:hover .overlay {
    opacity: 1;
  }

 
  
 

  
