/*overall page*/

* {
    padding: 0; 
    margin: 0; 
    font-family: 'Poppins', sans-serif; 
    box-sizing: border-box;
    
}

html {
    scroll-behavior: smooth;
  }





h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 2.5rem;
    line-height: 149.5%;
    letter-spacing: 0.02em;
    color: #99FFF4;
    align-items: center;
    justify-content: space-around;
    letter-spacing: 0.125rem;
    text-align: center;
}

/*hero section*/

.introduction {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 149.5%;
    letter-spacing: 0.02em;
    color: #ECECEC;
    text-align: left;
}


.hero {
    height: 80vh; 
    width: 100%; 
    background-image: url(./tealbackground.jpg) ; 
    background-size: cover;
    background-position: center;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 2.813rem; 
    padding-left: 8%;
    padding-right: 8%;
    background: rgba(212, 215, 215, 0.6);
    box-shadow: 0rem 0.125rem 0.625rem rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 7.5rem;
    left: 0rem;
    top: 0rem;

}

.logo {
    color: #1E8081;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 3.75rem;
    line-height: 149.5%;
    letter-spacing: 0.02em;
    cursor: pointer;
    padding-bottom: 1.125rem;
    position: relative; 
    align-items: center;
}


nav ul li {
    list-style-type: none;
    display: inline-flex;
    padding: 0.75rem 0.75rem; 
    padding-bottom: 1.125rem;
}

.btn1 {
    font-weight: bold; 
    text-decoration: none;
    background-color: #1E8081;
    border-radius: 1.875rem;
    color: #ECECEC;
    padding: 0.5rem 1.125rem;
    filter: drop-shadow(0rem 0.125rem 0.625rem rgba(0, 0, 0, 0.1));
    

}

.btn2 {
    font-weight: bold; 
    text-decoration: none;
    filter: drop-shadow(0rem 0.125rem 0.625rem rgba(0, 0, 0, 0.1));
    background-color: #ececec;
    border-radius: 1.875rem;
    color: #1E8081;
    padding: 0.5rem 0.75rem;
    

}

nav ul li a:hover {
    background-color: #84ABAC;
    transition: .4s; 
    
}



.content {
    position: absolute;
    top: 50%; 
    right: 35%; 
    transform: translateY(-50%);
    background: rgba(102, 101, 101, 0.4);
    backdrop-filter: blur(10px);
    border-radius: 1.875rem;
    position: absolute;
    width: 62.5rem;
    height: 18.75rem;
   

}

.content:hover {
    background: #84ABAC;
    transition: .4s;
}


.introduction {
    color: #FCF7F7;
    align-items: center;
    position: absolute;
    left: 40%;
    bottom: 25%;
    font-family: 'Jost', sans-serif;
    font-size: 1.125rem;
    width: 50%;
}

.titleintro {
    position: absolute;
    left: 40%;
    bottom: 70%;
    color: #FCF7F7;
    font-size: 2.5rem; 
    font-family: 'Jost', sans-serif;
    letter-spacing: 0.02em;

}

.profilepicture {
    position: absolute;
    right: 65%; 
    bottom: 0%;
}





/*about me*/

.aboutme {
    background-color: #353A3E;  
}

p {
    color: #84ABAC;
    padding: 0.5rem;
    font-size: 1.125rem;

}

li {
    padding: 0.125rem 0.75rem 0.125rem 0.75rem;
    color: #ececec;
    font-size: 1rem;
}


  .card {
    height: 26.25rem;
    width: 22.5rem;
    padding: 0.75rem 1.25rem;
    background-image: url(./boxbackground.jpg);
    background-size: cover;
    border-radius: 0.625rem;
    margin: 0.938rem;
    overflow: hidden; 
    text-align: left; 
    align-items: center;
}

.card:hover {
    background: #131415;
    transition: .4s;
}

h2 {
    color: #99FFF4;
}

.undertitle {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 149.5%;
    letter-spacing: 0.02em;
    color: #ECECEC;
    text-align: center;
}

.aboutsection {
    width: 100%; 
    padding: 6.25rem 2.5rem; 
    align-items: center;
}

.box {
   display: inline-block; 
   justify-content: center;
   align-items: center;
   min-height: 25rem; 
   border-radius: 0.625rem;
   margin: 0.938rem;
   position:relative; 
   overflow: hidden;
   text-align: center;
   padding: 0.75rem;
}


.banner {
    background: linear-gradient(90.44deg, #407B7C -14.08%, #6EE6BA 55.03%, #FFFFFF 116.06%);
    width: fit-content;
    height: fit-content;
    padding: 2.5rem;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-direction: column;
    cursor: pointer;
    border-radius: 1.25rem;
    transform: translateX(150px);
}

.icons {
    padding: 0.75rem;
    align-items: center;
    margin: 0.125rem;
    height: 7.5rem;
    position: flex;
   
}




.icons:hover {
    transform: scale(1.2);
}



.iconssection {
    align-items: center;
    justify-content: center;
    padding: 0.75rem;

}





/*my work*/
  
.mywork {
    width: 100%; 
    padding: 6.25rem 0.75rem;
    background-color: #353A3E;
   
    
}

  .image {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 0.625rem;
    
  }
  
  
  .overlay {
    position: absolute;
    bottom: 0;
    background: #131415;
    color: #ececec;
    width: 100%;
    transition: .4s ease-in;
    opacity:0;
    font-size: 1.25rem;
    padding: 1.25rem;
    text-align: center;
    border-radius: 0rem 0rem 0.625rem 0.625rem;
  }
  
  
  .container:hover .overlay {
    opacity: 1;
  }

  .container {
    position: relative;
    width: 50%;
    max-width: 18.75rem;
    display: inline-block;
    margin: 0.75rem;
  }

  .main {
    max-width: 95%; 
    margin: 0 auto; 
    align-items:center;
    justify-content: space-around;
}







  
 

  
